nav {
  height: 100%;
  width: 250px;
  background-color: rgba(253, 154, 245, 0.966);
  border-radius: 11px 0px 0px 11px;
}

nav ul {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  height: 100%;
  padding: 0;
}

nav ul a {
  display: block;
  text-decoration: none;
  color: white;
}
