.pageHeader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(253, 154, 245, 0.966);
  border-bottom: 5px solid #4f3920;
  height: 70px;
  margin: 0 0 1.2em 0;
  font-size: 2.2rem;
  color: #4f3920;
  border-top-right-radius: 11px;
  margin-bottom: 0;
}
