.remindersContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.reminderList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.remindersNotRenderedHeader {
  color: #4f3920;
}
